.hexDump {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hex-scroll-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  background-color: var(--vscode-editor-background);
  position: relative;
  height: 100%;
}

.hex-canvas {
  position: absolute;
  left: 0;
  cursor: crosshair;
}
